schema/maquette.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="types">
  <xs:import namespace="types" schemaLocation="type.xsd"/>

  <xs:complexType name="maquette_t">
    <xs:sequence>
      <xs:element name="semestre" type="semestre_t" />
    </xs:sequence>
  <xs:complexType>

  <xs:element name="maquette" type="maquette_t" />
</xs:schema>
