schema/personnel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="types">
<xs:import namespace="types" schemaLocation="type.xsd"/>
    <xs:complexType name="personnes">    
        <xs:sequence>
            <xs:element name="types:responsable_t"/>
            <xs:element name="types:responsable_po_t"/>
            <xs:element name="types:directeur_dept_t"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="personnes"/>
</xs:schema>

