schema/uf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:types="types"
  xmlns:ufs="ufs"
  targetNamespace="ufs"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xs:import namespace="types" schemaLocation="type.xsd"/>

  <xs:complexType name="ufs_t">
    <xs:sequence>
      <xs:element name="uf" type="types:uf_t" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ufs" type="ufs:ufs_t" />
</xs:schema>
