schema/uf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="types">
  <xs:import namespace="types" schemaLocation="type.xsd"/>

  <xs:complexType name="ufs_t">
    <xs:sequence>
      <xs:element name="uf" type="uf_t" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ufs" type="ufs_t" />
</xs:schema>
